*{
    margin: 0px;
}
.hero{
    display: flex;
    background-image: url(./IMG/oxbloodwavybackground.jpg);
    width: 100%;
    height: 1100px;
    flex-direction: column;
    gap: 100px;
    z-index: 1;
}
.header{
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
    align-items: end;
    gap: 500px;
    justify-content: center;
    
}
.left{
    display: flex;
    gap: 100px;
    position: relative;
    left: 40px;
    
}
.lead-logo{
    width: 150px;
    height: 150px;
}
.bowen-logo{
    width: 180px;
    height: 80px;
    position: relative;
    top: 25px;
    
}
.emerge-logo{
    width: 180px;
    height: 110px;
    position: relative;
    bottom: 20px;
}
.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    

}
.textbox{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
}
.picbox{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
}
.speaker{
   display: flex;
   width: 387px;
   height: auto;
   gap: 10px;
   color: white;
   font-size: 30px;
   display: flex;
   justify-content: start;
   align-items: center;
}
.line{
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 2px;
}
.name{
    color: white;
    font-size: 80px;
    width: 387px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.subname{
    color: rgba(116, 108, 108, 0.918);
    font-size: 23px;
    font-weight: 600;
    width: 387px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.nip{
    color: white;
}
.iconbox{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: white;
    width: 387px;
}
.icon{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon2{
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.datebox{
    width: 387px;
    height: 30px;
    display: flex;
    color: white;
}
.date1{
    width: 200px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.date2{
    width: 187px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picbg{
    width: 98%;
    height: 98%;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(./IMG/oxbloodwavybackground.jpg);
    justify-content: center;
    align-items: center;
}
.woman{
    width: 96%;
    height: 96%;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.footer{
    width: 100%;
    height: 100px;
    background-image:url(./IMG/Screenshot\ 2024-02-17\ 143917.png);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}